html{
    scroll-behavior: smooth;
  }
.hero{
    margin-top:50px;
}
.caption_head{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
.container{
    position: relative;
}

.opentime {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 55%;
  left: 0;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: left center;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 0 8px 8px 0;
  z-index: 10;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.cont_btn{
    border: 2px solid #1995AD;
    padding:10px 25px 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: black;
    border-color: white;
}
.heroleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
  }
  
  .fade-in-delay {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.2s ease-out forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

@media (max-width: 500px) {
    .hero{
        padding: 20px;
    }
    .herofull{
        display: flex;
        
        flex-direction: column-reverse;
        align-items: center;
    }
    .caption_head{
        text-align: start;
    }
    .heroleft{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .cont_btn{
        padding:10px 10px 10px 10px;
        border-radius: 5px;
        font-weight: 500;
        color: white;
        background-color: black;
        border-color: white;
    }

}



  


  
